.wrapper{
    width:100%;
}
body{
    background: black;
}

.generateButton{
    height:100px;
    width: 90%;
    color:azure;
    background: deepskyblue;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: block;
    margin-top: 10px;
    font-size: 25px;
    font-family: sans-serif;
}
.refreshIcon{
    height: 44px;
    width: 44px;
    margin-left: 70%;
    border: 2px;
    border-color: white;
    float: right;
    padding-right: 20px;
}
.generateButtonOrange{
    height:200px;
    width: 90%;
    color:azure;
    background: deepskyblue;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: block;
    margin-top: 10px;
    font-size: 100px;
    font-family: sans-serif;
}
.keyEntry{
    height:100px;
    border: 10px;
    background: gray;
    font-size: 40px;
    text-align: center;
    width:70%;
    border-radius: 50px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: block;
    font-style: italic;
}
.keyAndRefresh{
    
}
.formContent{
}
.newMessageP{
    color: white;
}
.secretEntry{
    height:100px;
    border: 10px;
    background: gray;
    font-size: 40px;
    text-align: center;
    width:70%;
    border-radius: 50px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: block;
    font-style: italic;
}
.logoP{
    color: white;
    font-size: 40px;
    font-family: sans-serif;
    font-style: bold;
}
.logoDiv{
    padding-left: 20%;
}
.theResults{
    font-size: 75px;
    color:white;
}
.takeMehHome{
    font-size: 75px;
}
.welcomeDiv{
    padding-left: 20%;
}
.welcomeKey{
    color: white;
    font-size: 25px;
}
.welcome{
    color: white;
    font-size: 35px;
    font-family: sans-serif;
    font-style: bold;
}
.messageTextAreaDiv{
    margin-left: auto;
    margin-right: auto;
}
.messageTextArea{
    height: 200px;
    border-radius: 50px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 35px;
    width: 100%;
}